.margin-0 { margin: 0; }
.margin-y-4 { margin-top: 4px; margin-bottom: 4px; }
.margin-y-4px { margin-top: 4px; margin-bottom: 4px; }
.margin-y-8 { margin-top: 8px; margin-bottom: 8px; }
.margin-y-24px { margin-top: 24px; margin-bottom: 24px; }
.margin-auto { margin: auto; }
.margin-top-24px { margin-top: 24px; }
.margin-left-auto { margin-left: auto; }
.margin-right-auto { margin-right: auto; }
.margin-bottom-4px { margin-bottom: 4px; }
.margin-bottom-8px { margin-bottom: 8px; }
.margin-bottom-16px { margin-bottom: 16px; }
.margin-bottom-24px { margin-bottom: 24px; }
