.font-family-Roboto { font-family: Roboto, sans-serif; }
.font-size-12 { font-size: 12px; }
.font-size-14 { font-size: 14px; }
.font-size-16 { font-size: 16px; }
.font-size-18 { font-size: 18px; }
.font-size-sm { font-size: var(--font-size-sm); }
.font-size-md { font-size: var(--font-size-md); }
.font-size-lg { font-size: var(--font-size-lg); }
.font-size-xl { font-size: var(--font-size-xl); }
.font-size-xxl { font-size: var(--font-size-xxl); }
.text-align-left { text-align: left; }
.text-align-center { text-align: center; }
.text-align-right { text-align: right; }