.experience {
  display: flex;
  align-items: stretch;
}

.experience-ruler::before {
  content: 'O';
  text-align: center;
}
.experience-ruler {
  border: 1px solid black;
  margin-right: 8px;
  min-height: 100%;
  padding-bottom: 16px;
  text-align: center;
}
.experience-content {
  padding-bottom: 8px;
}

.experience-header {
  display: flex;
  justify-content: space-between;
}

.experience-title {
  color: royalblue;
}

.experience-list {
  padding-left: 24px;
}
