.experience {
  display: flex;
  width: 100%;
}
.articles-container {
  width: 100%;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
}

.experience-title {
  padding: 8px;
}

@media print {
  .icon {
    padding: 4px;
  }

  .experience-title {
    padding: 4px;
  }
}
