.icon-with-text {
  padding-bottom: 8px;
}

.icon-with-text > * {
  display: flex;
  align-items: flex-end;
}

.icon-with-text svg {
  padding: 4px;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  color: royalblue;
  text-decoration: underline;
}

@media print {
  .icon-with-text {
    padding-bottom: 4px;
  }

  .icon-with-text svg {
    padding: 2px;
  }
}
