.sidebox {
  border-bottom: 1px solid royalblue;
  padding-top: 24px;
  padding-bottom: 24px;
}

.sidebox:hover {
  border-bottom: 1px solid #fada5e;
}

.sidebox:last-child {
  border-bottom: 0;
}

.sidebox svg {
  color: white;
}

@media print {
  .sidebox {
    border-bottom: 1px solid royalblue;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
