.side-part {
  background-color: #2f2f31;
  color: #fff;
  padding: 8px 24px;
  border: 4px solid royalblue;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.side-part:hover {
  border: 4px solid #fada5e;
}

.name {
  text-align: center;
}

.name > h1 {
  font-weight: 800;
}

.profile-picture {
  width: 180px;
  height: 180px;
  margin: auto;
  margin-bottom: 32px;
}

.profile-picture > img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: royalblue 4px solid;
}

.profile-picture > img:hover {
  border-color: #fada5e;
  animation: spin 5s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
