.article-content {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 8px;
  width: 70%;
}

.article-header {
  display: flex;
  justify-content: space-between;
}

.article-title {
  color: royalblue;
}

.article-when {
}

.article-list {
  padding-left: 24px;
}
