.experience-container {
  min-width: 100%;
  padding-bottom: 16px;
  border-color: black;
  border-bottom: 2px;
  box-shadow: 1px 1px 1px black;
}

.experience {
  display: flex;
  min-width: 100%;
}

.experience-title {
  display: flex;
  align-items: center;
}

.experience-title-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.experience-title svg {
  font-size: 1.2em;
  text-align: center;
}
